<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoを編集</title>
</head>

<body>
    <h1>Todoを編集</h1>
    <form method="POST" action="/todos/<%=todo.id%>?_method=PATCH">
        <textarea name="task" id="" cols="30" rows="10"><%=todo.task%></textarea>
        <button>保存</button>
    </form>
</body>

</html>