<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>
</head>
<body>
    <h1>ToDoリスト一覧</h1>
    <ul>
        <% for(let c of todos) {%>
            <li>
                <%= c.task%>-<%= c.done ? "完了":"未完了"%>
                <a href="/todos/<%=c.id%>">詳細</a>
            </li>
        <%}%>
    </ul>
    <a href="/todos/new">新規作成</a>
</body>
</html>